pandas==2.1.4
SQLAlchemy==2.0.30
tqdm
geopandas==0.14.4
XlsxWriter==1.2.1
numpy
census
requests
matplotlib
plotnine
python_dateutil
us
xmljson
ipykernel
psycopg2-binary
jenkspy
openpyxl
osmnet
shapely==2.0.0
osmnx==1.3.0
pandana
jinja2
rtree
pyyaml 
wget
osmium==3.7.0
h3
lxml
scikit-image
rasterio
